﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><b>Welcome</b></p>
    <p>Writers <a href="Writers">CLICK</a>.</p>
    <p>Books <a href="Books">CLICK</a>.</p>
    <p>BookGenres<a href="BookGenres">CLICK</a>.</p>
    <p>Genres<a href="Genres">CLICK</a>.</p>
</div>